.buttonExit{
  horiz-align: right;
  alignment-baseline: bottom;
  alignment: right;
  vertical-align: bottom;
}
.select{
  margin-left: 1%;
}
.input_valute{
  margin-left: 1%;
}
.history-table{
  height: 80%;
  width: 80%;
}
.mat-form-field{
  font-size: 14px;
}
